In [20]:
import pandas as pd

df = pd.DataFrame({"name":['wang','liu','zhao','liu','wang','zhao'],'age':[1,2,3,4,2,3],'score':[10,20,30,40,50,60]})

In [21]:
df.groupby(['name','age']).agg('sum')

          score
name age
liu  2       20
     4       40
wang 1       10
     2       50
zhao 3       90

In [5]:
for name,group in df.groupby("name"):
    print(name)
    print(group)

liu
  name  age
1  liu    2
3  liu    4
wang
   name  age
0  wang    1
4  wang    2
zhao
   name  age
2  zhao    3
5  zhao    3